/* styles.css */
body {
    background-color: #ffb71d;
    margin: 0; /* Eliminar el margen predeterminado del body */ 
    display: block;
    justify-content: center;
}
#titulo{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.nota{
    color: rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.mail{
    font-family: Arial, Helvetica, sans-serif;
}
.imagen{
    width: 500px; /* Ancho del contenedor */
    height: 400px; /* Alto del contenedor */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-image: url('CLUB.svg');
    background-size: contain; /* Opcional: ajustar la imagen para cubrir todo el contenedor */
}