/* styles.css */
@font-face{
    font-family: "ChunkFive Ex";
    src: url('/fonts/Chunkfive\ Ex.ttf') format('truetype');
}
@font-face{
    font-family: "Stencil_Regular";
    src: url('/fonts/Stencil_Regular.ttf') format('truetype');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: yellowgreen;
    margin: 0; /* Eliminar el margen predeterminado del body */ 
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.header{
    background-color:aliceblue;
}
#titulo{
    color: rgb(0, 0, 0);
    font-family:'Chunkfive Ex', Arial, Helvetica, sans-serif;
    text-align: center;  
    display:block;
}
nav{
    background-color:cornflowerblue;
}
h2{
    font-family: 'Stencil_Regular', Arial, Helvetica, sans-serif;
}
.header .logo{
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}
.header .logo img{
    width: auto;
    height: 130px;
    margin-right: 10px;
    margin-left: 5px;
    transition: all 0.4s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .menuheader {
    list-style: none;
}
.header .menuheader li{
    display: inline-block;
    padding: 0 5px;
    transition: all 0.4s;
}
.header .menuheader a{
    font-size:large;
    font-family: 'Stencil_Regular', Arial, Helvetica, sans-serif;
    padding-right: 10px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.header .menuheader li:hover{
    transform: scale(1.2);
}
.header .menuheader li a:hover{
    color:gold;
}
.header .menuheader .btn button{
    font-size:medium;
    color:beige;
    padding: 5px 15px;
    background: darkslategrey;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .menuheader .btn button:hover{
    background-color: darkslateblue;
    color: darkorange;
    transform: scale(1.1);
}
.correo{
    display: flex;
    justify-content: center;
}
.nota img{
    width: 40px;
}
.socialnet{
    display: flex;
    justify-content: center;
}
.faceimg{
    display: flex;
    justify-content: center;
}
.faceimg img{
    display: flex;
    width: 110px;
}
.facebook{
    color: rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.facebook img{
    width: 30px;
}
.col-12 img{
    width: 80%;
    vertical-align: top;
    flex: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.center-horizontal {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
}
.nota{
    color: rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.mail{
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilo personalizado para la imagen */
.custom-image {
    width: 600;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px yellowgreen;
    border-radius: 5px;
}
.linea{
    background: yellowgreen;
    height: 5px;
    width: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px;
    overflow: hidden;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria a iframe{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.light-box img{
    width: 50vw;
    max-height: 100vh;
}
.light-box:target{
    transform: scale(1);
}
.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.next{
    display: block;
    top: 45px;
    right: 45px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close{
        top: 20px;
        right: 20px;
        
    }
}
